.bannerTitle {
  line-height: 4rem;
}

.homePageBanner img {
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
}

.bannerTextContainer {
  padding:60px;
  position: absolute;
  top: 50%;
  left: 55%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.mainBannerBus {
  position: relative;
}
