.bannerTitle {
  line-height: 4rem;
}

.homePageBanner img {
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
}

.bannerTextContainer {
  padding:60px;
  position: absolute;
  top: 40%;
  left: 50%;
  /* right: 50%; */
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.mainBannerBus {
  position: relative;
}

.searchInputs {
  padding:60px;
  position: absolute;
  top: 80%;
  left: 50%;
  width:100%;
  /* right: 50%; */
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}
