.inputField {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #searchTicket {
    height: 56px;
  }

  .MuiFormLabel-root {
    color: White;
  }

  .MuiFormControl-root {
    width: 200px;
    margin-right: 10px;
  }

  .MuiSvgIcon-root {
    color: White;
  }

  .MuiInputBase-root {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    color: White;
    width: 200px;
    height: 100%;
    :focus {
      outline: none !important;
    }
  }
}
