header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 80px 30px 80px;
  z-index: 99;

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      li {
        margin-right: 10px;
      }
    }
  }

  a {
    color: #00d1ff;
    font-size: 13px;
  }

  .logo {
    color: #00d1ff;
    font-size: 30px;
    font-weight: bold;
  }

  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
